<h1>Update <%= @division.division_name() %> </h1>

<!-- <form action="/divisions/<%= @division.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="division_name">Rename your division:</label>
  <input id="division_name" name="division_name" type="text">

  <button type="submit">Update</button>
</form> -->


<% if @division.employee().any?() %>
<h3>Employees for <%= @division.division_name() %>:</h3>

<ul>
  <% @division.employees().each() do |employee| %>
  <li><%= employee.employee_name() %></li>
  <% end %>
</ul>
<% else %>
<p>There are no employees yet!</p>
<% end %>

<a href="/">Return to Main Page</a>
